In [2]:
import pandas as pd
print(pd.__version__)

data = pd.read_csv('data/data_draw_korea.csv')
print(data.shape)
print(type(data))
data.head(3)
print(type(data.values))
data.values
data.info()

2.2.2
(229, 8)
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [3]:
df_all = pd.read_csv('data/인구현황.csv')

df_all.head()

       행정기관코드   행정기관      총인구수       세대수  세대당 인구    남자 인구수    여자 인구수  남여 비율
0  1000000000     전국  51217221  24118928    2.12  25498324  25718897   0.99
1  1100000000  서울특별시   9331828   4482063    2.08   4505355   4826473   0.93
2  2600000000  부산광역시   3266598   1570403    2.08   1589912   1676686   0.95
3  2700000000  대구광역시   2363629   1104130    2.14   1159601   1204028   0.96
4  2800000000  인천광역시   3021010   1373827    2.20   1509243   1511767   1.00

In [234]:
person = data.groupby('광역시도')['인구수'].sum().sort_values(ascending=False).reset_index()
person.columns = ['지역', '총인구수']
person.head(5)

      지역      총인구수
0    경기도  11744210
1  서울특별시   9394807
2  부산광역시   3323591
3   경상남도   3144487
4  인천광역시   2766575

In [239]:
import pandas as pd

# 예시 데이터 생성 (실제 데이터는 pd.read_csv() 등으로 불러오세요)
data = pd.DataFrame({
    '행정기관코드': [1000000000, 1100000000, 2600000000, 2700000000, 2800000000, 2900000000, 3000000000, 3100000000, 3600000000, 4100000000, 5100000000, 4300000000, 4400000000, 5200000000, 4600000000, 4700000000, 4800000000, 5000000000],
    '행정기관': ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전북특별자치도', '전라남도', '경상북도', '경상남도', '제주특별자치도'],
    '총인구수': [51217221, 9331828, 3266598, 2363629, 3021010, 1408422, 1439157, 1098049, 390685, 13694685, 1517766, 1591177, 2136574, 1738690, 1788819, 2531384, 3228380, 670368],
    '세대수': [24118928, 4482063, 1570403, 1104130, 1373827, 658075, 687757, 495378, 163432, 6058202, 764834, 787756, 1052129, 864608, 912412, 1291568, 1537492, 314862],
    '세대당 인구': [2.12, 2.08, 2.08, 2.14, 2.20, 2.14, 2.09, 2.22, 2.39, 2.26, 1.98, 2.02, 2.03, 2.01, 1.96, 1.96, 2.10, 2.13],
    '남자 인구수': [25498324, 4505355, 1589912, 1159601, 1509243, 695224, 717291, 564888, 194413, 6882186, 763025, 809920, 1096128, 866030, 902380, 1280547, 1626926, 335255],
    '여자 인구수': [25718897, 4826473, 1676686, 1204028, 1511767, 713198, 721866, 533161, 196272, 6812499, 754741, 781257, 1040446, 872660, 886439, 1250837, 1601454, 335113],
    '남여 비율': [0.99, 0.93, 0.95, 0.96, 1.00, 0.97, 0.99, 1.06, 0.99, 1.01, 1.01, 1.04, 1.05, 0.99, 1.02, 1.02, 1.02, 1.00]
})


result = data[data['행정기관'] != '전국'].sort_values(by='세대당 인구', ascending=False)

result = result[['행정기관', '세대당 인구']].reset_index(drop=True)

result.head(5)

      행정기관  세대당 인구
0  세종특별자치시    2.39
1      경기도    2.26
2    울산광역시    2.22
3    인천광역시    2.20
4    대구광역시    2.14

In [240]:
import pandas as pd

# 예시 데이터 생성 (실제 데이터는 pd.read_csv() 등으로 불러오세요)
data = pd.DataFrame({
    '행정기관코드': [1000000000, 1100000000, 2600000000, 2700000000, 2800000000, 2900000000, 3000000000, 3100000000, 3600000000, 4100000000, 5100000000, 4300000000, 4400000000, 5200000000, 4600000000, 4700000000, 4800000000, 5000000000],
    '행정기관': ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전북특별자치도', '전라남도', '경상북도', '경상남도', '제주특별자치도'],
    '총인구수': [51217221, 9331828, 3266598, 2363629, 3021010, 1408422, 1439157, 1098049, 390685, 13694685, 1517766, 1591177, 2136574, 1738690, 1788819, 2531384, 3228380, 670368],
    '세대수': [24118928, 4482063, 1570403, 1104130, 1373827, 658075, 687757, 495378, 163432, 6058202, 764834, 787756, 1052129, 864608, 912412, 1291568, 1537492, 314862],
    '세대당 인구': [2.12, 2.08, 2.08, 2.14, 2.20, 2.14, 2.09, 2.22, 2.39, 2.26, 1.98, 2.02, 2.03, 2.01, 1.96, 1.96, 2.10, 2.13],
    '남자 인구수': [25498324, 4505355, 1589912, 1159601, 1509243, 695224, 717291, 564888, 194413, 6882186, 763025, 809920, 1096128, 866030, 902380, 1280547, 1626926, 335255],
    '여자 인구수': [25718897, 4826473, 1676686, 1204028, 1511767, 713198, 721866, 533161, 196272, 6812499, 754741, 781257, 1040446, 872660, 886439, 1250837, 1601454, 335113],
    '남여 비율': [0.99, 0.93, 0.95, 0.96, 1.00, 0.97, 0.99, 1.06, 0.99, 1.01, 1.01, 1.04, 1.05, 0.99, 1.02, 1.02, 1.02, 1.00]
})


result = data[data['행정기관'] != '전국'].sort_values(by='세대당 인구', ascending=False)

result = result[['행정기관', '남여 비율']].reset_index(drop=True)

result.head(5)

      행정기관  남여 비율
0  세종특별자치시   0.99
1      경기도   1.01
2    울산광역시   1.06
3    인천광역시   1.00
4    대구광역시   0.96

In [ ]:
def classify_gender_ratio(ratio):
    if ratio > 1.03:  # 남여 비율이 1.03보다 크면 남초
        return "남초 지역"
    elif ratio < 0.97:  # 남여 비율이 0.97보다 작으면 여초
        return "여초 지역"
    else:  # 그 사이는 균형 지역
        return "균형 지역"

# '지역 유형' 컬럼 추가
result['지역 유형'] = result['남여 비율'].apply(classify_gender_ratio)

# 결과 출력
print(result.sort_values(by='남여 비율', ascending=False))

# 지역 유형별 개수 확인
print("\n지역 유형별 개수:")
print(result['지역 유형'].value_counts())

In [244]:
# '전국' 제외한 데이터 준비
filtered_data = data[data['행정기관'] != '전국'].copy()

# 세대당 인구 평균 계산
average_household_pop = filtered_data['세대당 인구'].mean()

# 평균보다 높은 지역 필터링
above_avg = filtered_data[filtered_data['세대당 인구'] > average_household_pop]

# 결과 정렬 및 컬럼 선택
result = above_avg[['행정기관', '세대당 인구']].sort_values(by='세대당 인구', ascending=False)

# 평균값 출력
print(f"전국 세대당 인구 평균: {average_household_pop:.2f}\n")

# 결과 출력
print("세대당 인구가 평균보다 높은 지역:")
print(result.reset_index(drop=True))

전국 세대당 인구 평균: 2.11

세대당 인구가 평균보다 높은 지역:
      행정기관  세대당 인구
0  세종특별자치시    2.39
1      경기도    2.26
2    울산광역시    2.22
3    인천광역시    2.20
4    대구광역시    2.14
5    광주광역시    2.14
6  제주특별자치도    2.13